# Build directories
[Bb]uild/
[Dd]ebug/
[Rr]elease/
[Oo]bj/
[Bb]in/

# Build artifacts
*.su
*.o
*.d
*.elf
*.bin
*.hex
*.map
*.list
*.mk
*.cache
*.log
*.elf.proxy_cache

# IDE specific
.settings/
.cproject
.project
*.launch

*.ioc-backup
*.zip

