# STM32CubeIDE
*.launch
*.log
*.o
*.d
*.elf
*.hex
*.bin
*.map
*.list
*.srec
FreeRTOS_bootloader/build/
FreeRTOS/build/
FreeRTOS_bootloader/Debug/
FreeRTOS/Debug/
FreeRTOS_bootloader/Release/
FreeRTOS/Release/
.settings/
.project
.cproject
*.ioc-backup
*.zip

